
body {
	font-family: 'Goldman', sans-serif;
	background-color: aquamarine;
}
/*h1 {
	font-family: 'Goldman', serif;
}*/

.left {
	position: fixed;
	background-color: aquamarine;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;

}

.right {
	position: fixed;
	background-color: azure;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.ground {
	position: absolute;
	bottom: -43px;
	left: 0;
	height: 340px;
	width: 100%;
	background: url('../img/floor.png') no-repeat center center;
}

.yiiiha {
	position: absolute;
	background: url('../img/yiiiha.png') no-repeat 0 0;
	bottom: 120px;
	left: 50%;
	margin-left:20px;
	height: 235px;
	width: 361px;
	display: none;
}

.yiiiha.show {
	display: block;
}

.letsego {
	position: absolute;
	background: url('../img/letsego.png') no-repeat 0 0;
	bottom: 83px;
    left: 50%;
    margin-left: -370px;
	height: 235px;
	width: 361px;
	display: none;
}

.letsego.show {
	display: block;
}

.rocket {
	position: absolute;
	left: 50%;
	bottom: -24px;
	width: 150px;
	height: 300px;
	margin-left:-75px;
	background: url('../img/rocket.png') no-repeat 0 0;
	transition: bottom 10000ms;
}



/* rocket bg image*/
body.body-state2 .rocket
 {
	background: url('../img/rocket_fire.png');
}


body.body-state3 .rocket,
body.body-state4 .rocket
 {
	background: url('../img/rocket_fire2.png');
}


body.body-state5 .rocket
 {
	background: url('../img/boom.png');
}

/* rocket pos change */

body.body-state1 .rocket {
	transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket
 {
	bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5 {
	display: none;
}

body.body-state1 .state1 {display: block;}
body.body-state2 .state2 {display: block;}
body.body-state3 .state3 {display: block;}
body.body-state4 .state4 {display: block;}
body.body-state5 .state5 {display: block;}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active, a:visited {
	color: black;
}

a.button {
	display: inline-block;
	background-color: white;
	color: black;
	padding: 20px 40px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
	transition: color 300ms;
}

a.button:hover {
	color: aquamarine;
}

.interface {
	text-align: center;
	padding: 20px;
}